@model StudentsHomeModel
@{
    ViewData["Title"] = "Index";
    ViewData["Countries"] = Model.Countries;
}
<partial name="_DeleteStudentPartial" />

<h1>
    Students
</h1>

<div>
    <h3>Search</h3>
    <form method="get">
        <label asp-for="Name"></label>:
        <input asp-for="Name" />
        <button type="submit">Search</button>

        <div style="text-align: right;">
            <label asp-for="PageNo"></label>:
            <input asp-for="PageNo" />
            <button type="submit">GO</button>
        </div>
    </form>
</div>

<a data-toggle="modal" data-target="#createModal" href="#">Create</a>

<table class="w-100">
    <thead>
        <tr>
            <th>Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model.Students)
        {
            <tr>
                <td>@student.Name</td>
                <td>
                    <a href="students/edit/@student.Id">Edit</a>
                    |
                    <a onclick="confirmDelete(@student.Id)" href="#">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-action="index" asp-route-pageNo="@(Model.PageNo - 1)">Previous</a>
<a asp-action="index" asp-route-pageNo="@(Model.PageNo + 1)">Next</a>

<partial name="_CreateStudentPartial" for="Student" view-data="ViewData" />
