@model StudentsHomeModel
@{
    ViewData["Title"] = "Index";
}

<h1>
    Students
</h1>

<a asp-action="create">Create</a>

@foreach (var student in Model.Students)
{
    <div>
        <ul>
            <li>@student.Name</li>
            <li>
                <a href="students/edit/@student.Id">edit</a>
                <form action="students/Delete/@student.Id" method="post">
                    <button type="submit">Delete</button>
                </form>
            </li>
        </ul>
    </div>
}

<a href="Students/Index?pageIndex=@(Model.PageNo + 1)">Next</a>
<a href="Students/Index?pageIndex=@(Model.PageNo - 1)" class="@(Model.PageNo <=1 ? "disabled" : "")">Previous</a>
